.exchange_form {
  height: 70vh;
  width: max-content;
  position: relative;
  @media (max-width: 480px) {
    width: 80%;
    margin: auto;
  }
  ::placeholder {
    font-weight: 600;
    line-height: 22px;
    color: #366a8d;
  }
  ::-webkit-input-placeholder {
    /* Edge */
    font-weight: 600;
    line-height: 22px;
    color: #366a8d;
  }
h2{
  color:#366a8d
}
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-weight: 600;
    line-height: 22px;
    color: #366a8d;
  }

  .form_label {
    display: block;
    width: 592px;
    height: 59px;
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 44px;
    color: #366a8d;
    margin: 10px 0px;
  }
  .connector {
    margin-left: 14px;
    height: max-content;
    color: #366a8d;
  }
}
.input_field_div {
  width: 90%;
  height: 10%;
  border: 1px solid #366a8d;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  color: #366a8d;
  margin-top: -10px;
  opacity: 1;
  transition: all 0.5 ease;
  @media (max-width: 480px) {
    // height: 0%;
  }
  &_disabled {
    opacity: 0.6;
    .dropdown_design {
      display: none;
    }
    .input_field {
      display: none;
      width: 50%;
      text-align: center;
    }
  }
  .dropdown_design {
    width: 15%;
    // height: 100%;
    background: #366a8d;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .input_field:placeholder-shown {
    width: 12%;
    // border: 0px;
  }

  .input_field {
    transition: all ease-in 0.5s;
    width: 70%;
    border: 0px;
    margin-right: 5px;
    font-weight: 700;
    font-size: 45px;
    // line-height: 68px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    div {
      font-size: 0.4em;
      height: 40%;
    }
    input,
    select {
      appearance: none;
      height: 60%;
      width: 100%;
      padding-left: 5%;
      border: none;
      font: inherit;
      font-size: 0.4em;
      background-color: inherit;

      &:focus-visible {
        outline: none;
        background-color: inherit;
      }
    }
    select {
      width: 120%;
      cursor: pointer;
    }
  }
}
.dropdown_content {
  position: absolute;
  left: 0;
  top: 15%;
  box-shadow: 0px 10px 20px 0px #88919d4d;
  border: 1px solid #e6eaed;
  border-radius: 4px;
  color: #000;
  background: #ffffff;
  overflow: hidden;
  width: 20%;
  z-index: 10000;
  // transition: 200ms ease;
  &_item {
    margin: 0;
    padding: 15px;
    cursor: pointer;
    font-size: 15px;
    line-height: 18px;
    color: #444444;
    transition: 200ms ease;
    &_active {
      background: #f5f8fa;
    }
    &:hover {
      background: #f5f8fa90;
    }
  }
}
.error {
  margin-left: 25px;
  position: absolute;
  color: #d8000c;
}

.send {
  padding: 10px;
  position: absolute;
  margin-top: 10%;
  color: #366a8d;
  font-weight: 700;
  background-color: #ffffff;
  border: #444444 1px solid;
  &:hover {
    color: #fff;
    background-color: #366a8d;
  }
}

.swipe {
  z-index: 30;
  //position: absolute;
  //bottom: 20px;
  //left: 15%;
  width: 100%;
  height: 120px;
  border: #000 ;
  padding: 15px 0;
  background-color: transparent;
  box-shadow: 0px 7px 7px -2px rgba(0, 0, 0, 0.25);

  .slide {
    -webkit-transform: translateZ(0);
    border-radius: 5%; // padding: 5%;
    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
@media (max-width: 480px) {
  .swipe {
    height: 60px;
  }
}

//   &__input{
//     &_hidden{
//       display: none;
//     }
