.main {
  position: absolute;
  right: 0;
  width: 85%;
  background-color: #f8fafb;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 480px) {
    h2 {
      font-size: 1rem;
    }
  }
}
