.main {
  position: absolute;
  // top: 0;
  right: 0;
  width: 85vw;
  background-color: rgb(196, 194, 194);
  // height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}



