.main {
  position: absolute;
  right: 0;
  width: 85vw;
  background-color: #f8fafb;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  
}
