.navbar__item {
  padding: 0 20px;
  margin: auto;
}
.Navigation,
.scrolling {
  position: sticky;
  top: 0;
  left: 0;
  font-weight: 500;
  z-index: 100;
  width: 100%;
  height: 70px;
  padding-left: 100px;
  display: flex;
  //flex-direction: row;
  box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  //background-color: #5a1017;
  background: linear-gradient(155.78deg, #141f48 7.38%, #2eae9f 84.49%);
  color: #ffffff;
  .nav {
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar {
    width: 40%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.navbar__menu {
  display: none;
}
.navbar__menu {
  display: none;
}
.scrolling {
  background-color: rgba(90, 16, 23, 0.25);
  backdrop-filter: blur;
}
.NavButton {
  border: #ffffff 0.5px solid;
  border-radius: 28px;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  margin-left: 5px;
  color: #ffffff;
  &:hover {
    scale: 1.01;
    transition: all cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.3s;
  }
}

@media (max-width: 480px) {
  .Navigation,
  .scrolling {
    width: 100%;
    padding: 0;
    background-color: aliceblue;
  }
  .navbar {
    display: none;
    .navbar__item {
      display: none;
    }
  }
  .navbar__menu {
    display: inline;
    padding: 0 5px;
    font-size: 2em;
  }
}
.popup_content {
  display: block;
  width: 400px;
}
