.trans_holder {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  min-width: 970px;
  z-index: 1;
  .trans_card {
    color: #000;
    background-color: #fff;
    width: 100%;
    padding: 10px;
    height: 10%;
    display: flex;
    // border-bottom: 0.01px solid #eeeeee;
    justify-content: space-between;
    box-shadow: inset 0px 1px 1px rgb(240, 236, 236);
  }
  .dir {
    height: 100%;
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.detail {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.column1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // font-family: "Poppins";
}
.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  color: #000;
}
.bot {
  font-size: 15px;
  color: #737373;
  padding: 10px 15px;
}
.time {
  display: flex;
  align-items: flex-end;
}
.trans_head {
  box-shadow: 1px 1px 3px rgb(240, 236, 236);

  position: sticky;
  z-index: 2;
  background-color: #fff;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  left: 0;
  top: 30px;
  // box-shadow: 0px 1px 3px rgb(240, 236, 236);
  .trans_form {
    height: 50%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    input {
      border: none;
      outline: none;
      height: 100%;
      width: 100%;
      font-size: 22px;
      background-color: #f8fafb;
      // margin: 0px 15px;

      &::placeholder {
        // font-size: rem;
        padding: 30%;
        font-family: Poppins;
        font-weight: 300;
      }
    }

    button {
      outline: none;
      border: none;
      padding: 10px;
      &:hover {
        background-color: #fff;
      }
    }
  }
  label {
    color: #737373;
    padding: 0px 15px;
    font-size: 15px;
    line-height: 22px;
  }
  ::placeholder {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #737373;
  }
  ::-webkit-input-placeholder {
    /* Edge */
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #737373;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #737373;
  }
  .sort_div {
    width: 70%;
    // height: 25%;
    display: flex;
    justify-content: space-evenly;
  }
  .sort_by {
    border: none;
    background-color: #fff;
    font-size: 15px;
  }
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
}
.toggle_coin {
  border-radius: 20px;
  color: #817f7f;
  width: fit-content;
  padding: 5px 10px;
  cursor: pointer;
  &:hover {
    background-color: #366a8d;
    color: #fff;
    transition: all ease 0.5s;
  }
}
