.LandingPage {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.wrapper {
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  // margin: 25px 50px 75px;
  // padding-bottom: 90px;
  // @media(max-width: 480px){
  //   width: 40%;
  // }
}
.Message,
.Tristand {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //width: 50%;
  text-align: center;
  h1 {
    font-size: 70px;
    line-height: 0.7;
    padding-bottom: 10px;
  }

  span {
    display: block;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    color: #060506;
  }
  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    padding: 10px;
  }
}

.GetStartedButton {
  border-radius: 12px;
  border: none;
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
  width: fit-content;
  color: #30a89a;
  background: #ffffff;
  box-shadow: 0px 7px 14px rgba(143, 136, 136, 0.25);
  &:hover {
    color: #740813;
    cursor: pointer;
  }
}
.firstSection {
  position: relative;
  background-image: url("../public/images/shape.png");
  width: 100%;
  // box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.25);
  min-height: 120vh;
  padding-top: 5%;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  .div {
    // max-width: 1170px;
    margin: auto;
    //padding-left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 480px) {
      flex-direction: column;
    }
  }
  z-index: 30;
  h1 {
    font-size: 60px;
    font-weight: 700;
  }
}

.middleSection {
  background-color: rgb(31, 165, 168);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  // padding-left: 10%;
  // box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.25);
  // box-shadow: inset 14px 0px  rgba(0, 0, 0, 0.25);
  // box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
  height: 100vh;
  padding-bottom: 10px;
  z-index: 20;
  @media (max-width: 480px) {
    display: flex;
    flex-direction: column-reverse;
  }
  h2 {
    color: #2EAE9F;
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: 500;
  }
  span {
    display: block;
    font-weight: 500;
    font-size: 15px;
    line-height: 32px;
  }
  .middleSection_photo {
    width: 50%;
  }
}

.metamaskSection {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
  //box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.25);
  height: 80vh;
  padding-top: 10px;
  //padding-left: 5%;
  overflow-x: hidden;
  // article {
  //   width: 30%;
  // }
  h2 {
    color: #2EAE9F;
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: 500;
  }
  span {
    display: block;
    font-weight: 500;
    font-size: 15px;
    line-height: 32px;
  }

  z-index: 10;
}
.metamaskSection_photo {
  width: 50%;
  justify-self: flex-start;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  background: linear-gradient(155.78deg, #141f48 7.38%, #2eae9f 84.49%);
  z-index: 10;
  overflow-x: hidden;
  .wrapper {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  ul {
    list-style: none;
  }
  h3 {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 32px;
  }
}

.space {
  position: absolute;
  top: 0;
  height: 15vh;
  background-color: #fff;
  display: block;
  z-index: 30;
}

// .metamaskSection {
//   flex-direction: column;
// }
.middleSection_photo {
  width: 50%;
  height: 50%;
  h2 {
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 500;
  }
}
.popup_content {
  width: 160px;
  height: 160px;
}
.popup {
  // visibility: hidden;
  // width: 160px;
  top: 10%;
  color: #555;
  background-color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 30px;
  position: absolute;
  z-index: 100000000000000;
  // margin-left: -80px;
}
.NavButton {
  border: #ffffff 0.5px solid;
  border-radius: 28px;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  margin: 0px 15px;
  // color: #ffffff;

  &:hover {
    scale: 1.05;
    transition: all cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.3s;
  }
}
.TeamSection {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  // border: 1px solid rgb(17, 14, 14);
  h2 {
    display: block;
    height: 20%;
    color: #2EAE9F;
  }
  .teamGallery {
    display: flex;
    justify-content: center;
    align-items: center;
    //height: 80%;
    //width: 100%;
  }
  .teamMember {
    // background-color: #30a89a;
   width: 330px;
   height: 416px;
   padding: 60px 30px;
   background-color: #fff;
   margin: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.25);


   .avatar_pic {
    //background-color: rgb(45, 34, 34);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    @media (max-width: 480px) {
      width: 40px;
      height: 40px;
    }
  img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    //object-position: center;
    width: 100%;
    height: 100%;

  }}
    h2{
      font-weight: bold;
      font-size: 1.7rem;
      text-align: center;
      color: #2EAE9F;
    }
    span {
      display: block;
      color: #2EAE9F;
      font-weight: bold;
      font-size: 1.2rem;
      letter-spacing: 1px;
      //line-height: 22px;
      @media (max-width: 480px) {
        display: none;
      }
    }
  }
}
.flexi {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  .icon {
    font-size: 2rem;
  }
  .text {
    // padding: 0 5px;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 100;
    &:hover{
      font-weight: 500
    }
  }
}
.flexo {
  @extend .flexi;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.tristand {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  // border-left: #fff 2px solid;
  h2 {
    color: #fff;
  }
  span {
    color: #ebc0f3;
  }
}
